#content {

    // #rectangles{
    //     //display: flex;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%

    // }

    // nav{

    //     //display: flex;
    //     //align-items: center;
    //     //justify-content: right;

    //     li{
    //         a:link, a:visited{
    //             text-decoration: none;
    //             color: $black;
    //             font-size: rem-calc(24);
    //             font-family: 'Italiana', serif;
    //             font-size: rem-calc(30);
    //             font-weight: 300;
    //             writing-mode: vertical-rl;
    //             float: right;
    //         }
    
    //     }

    // }



    
    display: grid;
    grid-template-columns:  auto ;
    grid-template-areas: ". content ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    left:0;
    z-index: -1;

    >div{
        grid-area: content;

        #rectangles{
            //display: flex;
            //position: absolute;
            width: 100%;
            height: 100%
    
        }
    //     nav{
           
    //         //border: 1px solid red;
    //         ul{
    //             display: flex;
    //             justify-content: center;
            
    //             li{
    //                 a:link, a:visited{
    //                     text-decoration: none;
    //                     color: $black;
    //                     font-size: rem-calc(24);
    //                     font-family: 'Italiana', serif;
    //                     font-size: rem-calc(30);
    //                     font-weight: 300;
    //                     writing-mode: vertical-rl;
    //                     float: right;
    //                 }
    //             }
                
    //         }
    }
    //     #about{ 
    //         background-color: beige;
    //         height: 100vh;
    //         width: 33%;
    //     }

    //     #shop{
    //         background-color: cadetblue;
    //         height: 100vh;
    //         width: 33%;
    //     }

    //     #food{
    //         background-color: coral;
    //         height: 100vh;
    //         width: 33%;
    //     }

    // }

}