#hero {
    height: 100vh;
    width: 100vw;

    @include md {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 768px auto;
    }

    @include lg {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 992px auto;
    }

    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;
    }

    >div {

        overflow: hidden !important;
        height: 100%;

        @include md {
            grid-area: hero;
        }
        @include lg {
            grid-area: hero;
        }
        @include xl {
            grid-area: hero;
        }

        article {

            align-items: center;
            display: flex;
            height: 90%;
            width: 70%;
            justify-content: left;


            section {
                color: $black;
                text-align: left;

                h1 {
                    font-size: rem-calc(44);
                    font-family: 'Italiana', serif;
                    font-weight: 900;

                    @include md {
                        font-size: rem-calc(54);
                    }

                    @include lg {
                        font-size: rem-calc(64);
                    }
                }

                p {
                    font-size: rem-calc(30);
                    font-family: 'Italiana', serif;
                    font-weight: 400;

                    @include md {
                        font-size: rem-calc(40);
                        font-weight: 400;
                    }

                    @include lg {
                        font-size: rem-calc(50);
                        font-weight: 400;
                    }
                }

            }
        }


    }
}