nav{
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
    z-index: 20;

    ul{
        height: 100%;
        display: flex;

        .nav-container{
  
            .nav-content{
                //height: 100%;

                aside{
                    width: 50px;
                    height: 100%;
                    cursor: pointer;
                }

                .nav-rightSide{
                    width: 0px;
                    height: 100%;
                    transition: 0.25s;
                   
                }
            }
        }

        .main_title{
            writing-mode: vertical-rl;
            font-size: rem-calc(20);
            position: absolute;
            top: 45%;
            transform: translate(50%,-50%);
        }

        .content{
            overflow: hidden;
            font-size: rem-calc(20);
        }

        #bar-1{
            background-color: beige;
        }

        #bar-2{
            background-color: cadetblue;
        }

        #bar-3{
            background-color: coral;
        }
    }
}

.active{
    width: 85vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
